
.asideButton {
  width:100%;
  height:1em;
  /* position: fixed; */
  bottom:0rem;
  right:1em;
  z-index: 1;

  &_button{
    transition:All .2s  ease;
    background-color: #DC5D64;
    height:3.3em;
    width:3.3em;
    padding:0 .5em;
    color: #ffffff;
    font-family: var(--base);
    font-weight: var(--bold);
    border-radius:100px;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
    position:fixed;
    bottom:1rem;
    right:1rem;
    &_icon,
    &:hover &_icon,
    &:hover &_text {
      transition:All .2s  ease;
    }
    &:hover {
      transition:All .3s  ease;
      width:7em;
    }
    &_icon {
      font-size: var(--xxl);
    }
    &:hover &_icon {
      font-size: var(--xxm);
    }
    &_text {
      transition:All 1s  ease;
      width:0%;
      color: #ffffff;
      font-size: var(--n);
      overflow:hidden;
      text-wrap: nowrap;
    }
    &:hover &_text {
      width:100%;
      margin-left:.2em;
    }
  }
}
