.HeaderTags {
  /* width: 100%; */
  background-color:#ffffff;
  padding: 1rem 0;
  display:flex;
  justify-content:space-between;
  &_tag {
  /* width: 100%; */
    padding:.5em 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
      gap:.5em;
    /* &_container { */
    /*   padding:.5em 0; */
    /*   overflow-x:auto; */
    /*   display:flex; */
    /*   flex: auto 0 1; */
    /*   flex-wrap: wrap; */
    /*   align-items:center; */
      /*   gap:.5em; */
      /* } */
      &_item:empty {
        display:none;
      }
    &_item,
    &_itemON {
      background-color:var(--tagColor);
      padding:.5em .8em;
      height:max-content;
      color:var(--tagText);
      font-family: var(--title2);
      font-size:var(--n);
      font-weight: bold;
      text-transform: capitalize;
      white-space: nowrap;
      border-radius:10px;
      transform: scale(1);
    }
    &_itemON {
      background-color:#404040;
      color:white;
    }
    &_item:hover,
    &_itemON:hover {
      transform: scale(1.1);
      transition: transform  .2s ease-in-out;
      z-index:1;
    }
  }
}
