/* !logo: */
.logo.navBar_logo {
  display:flex;
  align-items: center;
  gap:0.5em;
  &_title {
    color:var(--logoText);
    /* color:#ff7675; */
    color:#fff;
    font-family:var(--title);
    font-size:var(--xl);
  }
  &_image {
    height: 2em;
  }
}
