/* !navBar: */
.navBar_logo {
  display:flex;
  align-items: center;
  gap:0.5em;
  &_title {
    color:var(--logoText);
    font-family:var(--title);
    font-size:var(--xl);
  }
  &_image {
    height: 2em;
  }
}
