.navBar {
  background-color:var(--navBarColor);
  width: 100%;
  color:var(--navBarText);
  height:4em;
  padding:0 2em;
  box-shadow: var(--shadow);
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:0.8em;
  position: fixed;
  top:0;
  z-index:10;
  &_nav {
    display:flex;
    align-items:center;
    gap:0.5em;
  }
}
