/*
!Cabecera:
 */
.navBar {
  background-color:var(--navBarColor);
  background-color:#ff7675;
  color:#ffffff;
  height:4em;
  padding:0 2em;
  box-shadow:0 3px 6px 1px rgba(149, 157, 165, 0.15);
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:0.8em;
  position: fixed;
  z-index:10;
  width: 100%;
  top:0;
  &_nav {
    display:flex;
    align-items:center;
    gap:0 0.5em;
  }
}
