.sideBar {
  width:0%;
  transition: all 0.5s ease-out;
  &_body {
    padding:0 2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
  }
  &_main {
    padding: 1rem 1.5rem 1rem 0;
    display:flex;
    flex-direction: column;
    gap:1.4rem;
    height:0;
    overflow-y:scroll;
    transition: all 0.5s ease-in;
  }
}

/* #opcional: */
.here {
  transition: all 0.5s ease-in;
}
.here.sideBar{
  width:50%;
}
.here .sideBar_main {
  height:25.5rem;
}

