.DropdownBox {
    display: block;
}

.Dropdown {
  position:relative;
  &_main {
    background: white;
    border:1px solid cyan;
    border-radius: 10px;
    padding: 0.3em;
    display: none;
    position:absolute;
    right: 0;
    z-index: 2;
    animation: slideaway 200ms;
    &_button {
      width: 100%;
      padding: .5em 1.5em .5em .5em;
      color:gray;
      font-family: var(--base);
      white-space: nowrap;
      border-radius: 5px;
      display: flex;
    }
    &_button:hover {
      background-color: #ebebeb;
    }
  }
}

.dropdownOpen {
  display: block;
  opacity: 1;
}
@keyframes slideaway {
  from { display: block; opacity: 0;}
  to { transform: translateY(0px); opacity: 1;}
}
