
.ModalCreate_label_input::placeholder {
    color:#c0c0c0;
}

.ModalCreate {
  background: #ffffff;
  width:55%;
  padding:2em 4em;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
  color:#8e8e8e;
  font-family: var(--base);
  display:flex;
  flex-direction: column;
  align-items: space-between;
  gap:3em;
  position: relative;
  &_main {
    display: flex;
    flex-direction: column;
    gap:1.2em;
  }
  &_row {
    display: flex;
    gap:1em;
  }
  &_header {
    position: relative;
    text-align: center;
    &_title {
      margin-bottom:.2em;
    }
    &_action {
      font-size: var(--3xm);
      position:absolute;
      top:-.5em;
      right:-1em;
    }
  }
  &_icon {
    font-size: var(--3xm);
    /* display:none; */
  }
  &_label {
    display: flex;
    flex-direction: column;
    gap:.5em;
    &_text {
      font-weight: bold;
      font-size: var(--m);
      display: flex;
      align-items: center;
      gap:.5em;
    }
    &_input {
      width:100%;
      font-weight: bold;
      font-family: var(--base);
      height: 2.8em;
      padding: 0 1em;
      border:2px solid rgba(0,0,0,0.2);
      border-radius: .8em;
    }
    &_input:active {
    background-color:#dc5d64;
    }
  }
  &_footer {
    display:flex;
    justify-content: center;
    gap:.5em;
  }
  &_button {
    background-color:#f0f0f0;
    padding: .8em 2em;
    font-weight: bold;
    border-radius:20px;
  }
  &_button:nth-of-type(2) {
    background-color:#dc5d64;
    color:#ffffff;
  }
  &_button:hover {
    text-decoration: underline;
  }

}
