.dropdownBookmark {
  background: white;
  border-radius: 8px;
  color:#8e8e8e;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap:1rem 0;
  animation: slideVertical 0.3s ease 0s 1 normal forwards;
  position:absolute;
  top:0%;
  right: 0;
  z-index: 2;
  &_section,
  &_section-b {
    animation: slideHorizontal 0.5s ease 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
  }
  &_section {
    padding:0.2rem 0.4em;
  }
  &_section-b {
    width:19rem;
    padding:0.8rem 1rem;
    gap:1rem;
  }
  &_container {
    display:flex;
    flex-direction: column;
    gap:0.5em;
  }
  &_footer {
    display:flex;
    /* justify-content: flex-end; */
    gap:0.5em;
  }
}

/* #opcional: */
.dropdownBookmark.posicion {
  right:-4em;
}
