.searchMain {
  padding:0 .5em;
  display:flex;
  align-items:center;
  font-family: var(--secondary);
  &_icon {
    color:#DC5D64;
    font-weight: var(--bold);
    font-size:var(--text-xxm)
  }
  &_input {
    background-color: transparent;
    font-weight: var(--bold);
    height:2em;
    width:4.2em;
    transition: all 0.5s ease;
  }
  &_input:focus {
    transition: all 0.5s ease;
    width:15em;
  }
}

.searchMain input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
