/*
!searchMain:
 */
.searchMain {
  width:25em;
  color:#8e8e8e;
  font-family: var(--title2);
  position: relative;
  --width:100%;
  --border-radius: 10px;
  &_field {
    background-color:#ffffff;
    border-radius:var(--border-radius);
    padding:0 1rem;
    display:flex;
    align-items: center;
    &_icon {
      font-size:var(--xm);
      display:flex;
      align-items: center;
    }
    &_input {
      background: transparent;
      width:var(--width);
      padding:0.6rem 0;
      font-size: var(--s);
      font-weight: var(--semibold);
      transition: all 0.5s ease;
    }
    &_input:focus ~  &_icon:before {
      content:"";
      width:var(--width);
      height:100%;
      border:1px solid yellow;
      border-radius:var(--border-radius);
      position:absolute;
      left:0;
    }
  }
  &_result {
    background:#ffffff;
    width:var(--width);
    border-radius:0 0 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
    position: absolute;
    z-index: 1;
    top:95%;
    &_item {
      font-size:var(--s);
      font-weight: var(--semibold);
      padding:0.6rem 0.8rem;
      border-top:1px solid rgba(0,0,0,0.1)
    }
  }
  &_result ~ &_field {
    border-radius:10px 10px 0 0;
  }
}
