.modalCreate {
  background: #ffffff;
  width:46%;
  padding:2em 4em;
  color:#8e8e8e;
  font-family: var(--base);
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
  display:flex;
  flex-direction: column;
  align-items: space-between;
  gap:2rem;
  position: relative;



  /* !principal: */
  &_main {
    display: flex;
    flex-direction: column;
    gap:0.8rem;
  }

  /* !label: */
  &_label,
  &_labelTag {
    display: flex;
    flex-direction: column;
  }

  /*
  !footer:
   */
  &_footer {
    display:flex;
    justify-content: center;
    gap:0.5rem;
  }
}
