.modalEdit {
  background: #ffffff;
  min-width:50%;
  padding:2em 4em;
  color:#8e8e8e;
  font-family: var(--base);
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
  display:flex;
  flex-direction: row-reverse;
  position: relative;
  gap:3em;

  &_container,
  &_container-b {
    display: flex;
    flex:1;
    flex-direction: column;
    /* align-items: center; */
    gap:0.5rem;
  }
  &_container-b {
    width: 15em;
    /* background: #ff7675; */
    font-family: var(--title2);
    align-items: center;
    gap:1rem;
  }
  &_box1,
  &_box2 {
    display: flex;
    flex-direction: column;
  }
  &_box3 {
    display: flex;
    gap:1rem;
    /* justify-content: center; */
  }
  &_button {
    display:flex;
    gap:0.5rem;
    background: #f0f0f0;
    font-size:var(--n);
padding: 0.2em 0.3em;
  }
  &_body {
    background: #ffffff;
    border-radius:0 15px 15px 0;
    /* padding:2em 4em 2em 3em; */
    display:flex;
    flex-direction: column;
    align-items: space-between;
    gap:3em;
  }
  &_image {
    /* margin-left:20px; */
    width:13rem;
    height:8rem;
    border-radius: 10px;
  }
  &_text {
    font-weight:var(--bold);
    font-size: var(--m);
  }

  /* !principal: */
  &_main {
    display: flex;
    gap:2em;
  }
  &_footer {
    display:flex;
    justify-content: center;
    gap:0.5rem;
    &_button {
      background-color:#f0f0f0;
      padding: 0.6rem 1.6rem;
      font-family: var(--title2);
      font-weight:var(--bold);
      font-size: var(--n);
      border-radius:15px;
    }
    &_button:nth-of-type(2) {
      background-color:#dc5d64;
      color:#ffffff;
    }
    &_button:hover {
      text-decoration: underline;
    }
  }
}
