
.ModalExport_label_input::placeholder {
    color:#c0c0c0;
    font-weight:var(--semibold);
}

.ModalExport {
  background: #ffffff;
  width:60%;
  padding:2em 4em;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.1);
  color:#8e8e8e;
  font-family: var(--base);
  display:flex;
  flex-direction: column;
  align-items: space-between;
  gap:3em;
  position: relative;
  &_container {
    display: flex;
    gap:1em;
  }
  &_header {
    position: relative;
    text-align: center;
    &_title {
      margin-bottom:.2em;
    }
    &_action {
      font-size: var(--3xm);
      position:absolute;
      top:-.5em;
      right:-1em;
    }
  }
  &_main {
    display: flex;
    flex-direction: column;
    gap:1.2em;
  }
  &_label {
    display: flex;
    flex-direction: column;
    gap:.5em;
    position: relative;
    &_icon {
      font-size: var(--3xm);
    }
    &_text {
      font-weight: bold;
      font-size: var(--m);
      display: flex;
      align-items: center;
      gap:.5em;
    }
    &_input {
      width:100%;
      height:8em;
      padding: .5em 1em;
      padding-right: 2.5em;
      font-weight: bold;
      font-family: var(--base);
      border:2px solid rgba(0,0,0,0.2);
      border-radius: .8em;
    }
    &_action {
      padding:.1em .2em;
      font-size: var(--l);
      border-radius: 5px;
      position:absolute;
      top:12px;
      right:6px;
    }
  }
  &_subtext {
    margin: .5em;
    font-family: var(--base);
  }
  &_footer {
    display:flex;
    justify-content: center;
    gap:.5em;
  }
  &_button, &_button2{
    background-color:#f0f0f0;
    padding: .8em 2em;
    font-weight: bold;
    border-radius:20px;
  }
  &_button:nth-of-type(2) {
    background-color:#dc5d64;
    color:#ffffff;
  }
  &_button:hover {
    text-decoration: underline;
  }
  &_button2 {
    background-color:#f0f0f0;
    width:100%;
    text-align: center;
    border-radius:2em;
    cursor: pointer;
  }
  &_button2:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}
