
.cardNote {
  background: #f0f0f0;
  padding: 1em;
  font-family: var(--title2);
  color:var(--cardText);
  &_title {
    font-size: var(--l);
    /* font-weight:var(--bold); */
    text-transform: capitalize;
  }
  &_text {
    font-size: var(--m);
  }

}
