.CardArticle{
  /* background-color:var(--cardColor); */
  width:13rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
  display:flex;
  flex-direction: column;
  gap:0.4rem;
  transition: all 0.3s ease;
  position: relative;
  &:hover {
    transition: all 0.3s ease;
  }

  /* !Cabecera: */
  &_head, &_head_image {
    height:7rem;
    border-radius: 0.6rem 0.6rem 0 0;
  }
  &_head {
    position: relative;
    &_image {
      background-color:var(--photoColor);
      width:100%;
    }
  }

  /* !opcionales: */
  &_option {
    background-color:var(--cardColor);
    padding:0.2rem;
    color:var(--cardText);
    font-size: var(--l);
    border-radius: 0.6rem;
    display: none;
    align-items: center;
    position:absolute;
    top: 0.6rem;
    right:0.4em;
  }
  &:hover &_option {
    display: flex;
  }
  /* !Cuerpo: */
  &_body {
   height:100%;
    padding:0 0.8rem 0.8rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.8rem;
    position: relative;
    &_dot {
      background:#ffffff;
      width:100%;
      height:0.5em;
      border-radius: 35px 35px 0 0;
      position: absolute;
      top:-0.8rem;
      left:0;
    }
  }

  /* !principal: */
  &_main {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
  }
  &_text, &_title {
    font-family: var(--title);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &_title {
    font-size: var(--s);
    font-weight: var(--semibold);
    -webkit-line-clamp: 2;
  }
  &_text {
    color:var(--cardText);
    font-size: var(--xs);
    -webkit-line-clamp:1;
  }

  /* !detalles: */
  &_footer{
    display:flex;
    gap:1rem;
    &_button {
      color:#8e8e8e;
      font-weight: var(--bold);
      font-size: var(--xs);
      display:flex;
      align-items: center;
      gap:0.3rem;
      &_icon {
        font-size: var(--n);
      }
    }
  }
}



.dropdownTool {
  background: #ffffff;
  border-radius:0.4rem;
  box-shadow: 1px 5px 5px 2px rgba(0,0,0,0.1);
  display:flex;
  justify-content: center;
  flex-direction: column;
  top:0rem;
  right:-0.4rem;
  &_button:last-child{
    border-top:1px solid rgba(0,0,0,0.1);
  }
  &_button {
    width: 100%;
    padding: 0.4rem 0.8rem;
    padding-right: 2.8rem;
    color:#8e8e8e;
    font-family: var(--title2);
    font-weight: var(--semibold);
    display:flex;
    align-items: center;
    gap:0.6rem;
    &_icon {
      font-size: var(--m);
    }
    &_text {
      font-size: var(--xs);
    }
  }
  &_button:hover {
    background-color:#f0f0f0;
    color:#8e8e8e;
  }
}
