/* recursos */
@import "./parts/bar/navBar.css";
@import "./parts/footer/footerMain.css";
@import "./parts/card/cardArticle.css";
@import "./parts/section/sectionCard.css";
@import "./parts/header/headerTags.css";
@import "./parts/section/sectionBanner.css";
@import "./parts/modal/modalCreate.css";
@import "./parts/modal/modalExport.css";
@import "./parts/dropdown/dropdownMenu.css";

:root {
  /* VARIABLE */
  --background1:#ffffff;
  --background2:#dedede;
  --color1:#dc5d64;
  --color2:#F9E4E5;
  --color3:#f0f0f0;
  --text1:#8e8e8e;
  --logoColor:red;
  --filter: invert(28%) sepia(60%) saturate(3945%) hue-rotate(6deg) brightness(107%) contrast(101%);
  /* DEFINICION */
  --bannerColor:var(--background2);
  --cardColor:var(--background1);
  --cardText:var(--text1);
  --cardButton_active:var(--color1);
  --logoIcon:var(--filter);
  --logoText:var(--logoColor);
  --photoColor:var(--background2);
  --tagNav:var(--text1);
  --tagColor:var(--color3);
  --tagText:var(--text1);


}
.Modal {
  background:rgba(0,0,0,0.3);
  min-width:100%;
  min-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index:10;
  &_container {
    min-width:100%;
    min-height:100%;
    position:fixed;
  }
}
input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
  /*   display: -webkit-box; */
  /*   -webkit-line-clamp: 1; */
  /*   -webkit-box-orient: vertical; */
  /* box-shadow:4px 4px 8px -1px rgba(0,0,0,0.12); */
  /* border:1px solid rgba(0,0,0,0.1); */
