/* Typography -------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700&display=swap');

/* Font variables  --------------------------------------------------------- */
:root {
	/* Font family */
		--title:  'Poppins', sans-serif;
		--title2: 'Montserrat', sans-serif;
		--base:   'Inter', sans-serif;
		--base2:  'Gabarito', sans-serif;
	/* Font weight */
		--extrabold:800;  --bold:700;  --semibold:600;  --medium:500;  --regular:400; --light:300;
	/* Font size */
  /*
		--3xh:  3.313rem;
    --xxh:  3.000rem;
    --xh:   2.688rem;
    --h:    2.438rem;
    --3xl:  2.188rem;
    --xxl:  1.938rem;
    --xl:   1.750rem;
    --l:    1.563rem;
    --3xm:  1.375rem;
    --xxm:  1.250rem;
    --xm:   1.125rem;
    --m:    1.000rem;
    --n:    1.000rem;
    --s:    0.938rem;
    --xs:   13px;
    --xxs:  12px;
    --3xs:  0.6875rem;
*/

    --xxh:  2.625rem;
    --xh:   2.375rem;
    --h:    2.125rem;
    --xxl:  1.875rem;
    --xl:   1.6875rem;
    --l:    1.5rem;
    --xxm:  1.3125rem;
    --xm:   1.1875rem;
    --m:    1.0625rem;
    --n:    0.9375rem;
    --s:    0.875rem;
    --xs:   0.8125rem;
    --xxs:  0.75rem;
  }

/* General ---------------------------------------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border:0px;
  box-sizing: border-box;
  color: inherit;
  font-family:inherit;
  /* outline: 1px solid black; */
}
html {
  scroll-behavior:smooth;
  /* color:#1f1f1f; */
  font-size:16px;
  color:#404040;
}
body {
  background-color:var(--bodyColor);
  min-height:100svh;
}
img {
  object-fit:cover; -o-object-fit:cover;
}
svg {
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

button,
summary {
  outline: none;
  cursor: pointer;
}

button {
  background-color: transparent;
}
input {
  appearance: none;
}
input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
