/* Cabecera de categorias */
.animacionA {
  animation: myAnimA 0.5s ease 0s 1 normal forwards;
}
.animacionB {
  animation: myAnimB 0.3s ease 0s 1 normal forwards;
}

.sectionCard {
  width: 100em;
  background-color:var(--sectionCardColor);
  position:relative;
  &_body {
    /* padding:3rem 4rem; */
    display:flex;
    flex-direction: column;
    gap:1rem;
  }

  /* !Cabecera: */
  &_header {
    background:#ffffff;
    padding: 1rem 0;
    display:flex;
    align-items: center;
    gap:1rem;
    &_container {
      font-family: var(--title2);
      color:var(--cardText);
      display:flex;
      order: 1;
      flex-direction: column;
    }
    &_title {
      font-size: var(--l);
      font-weight:var(--bold);
      text-transform: capitalize;
    }
    &_text {
      font-size: var(--m);
    }
    &_container-2 {
      margin-left: auto;
      display:flex;
      order: 2;
      gap:1rem;
    }
  }
  &_button, &_buttonPrev {
    color:#8e8e8e;
    font-family:var(--title);
    display: flex;
    align-items: center;
    gap:0.5rem;
    &_text {
      font-size:var(--xm);
    }
    &_icon {
      font-size:var(--n);
    }
  }

  &_buttonPrev {
    display: flex;
    order: 0;
    &_icon {
      font-size: var(--xl);
    }
  }
  &_content {
    padding: 1rem 0;
    display:grid;
    grid-template-columns:repeat(4, 0fr);
    justify-content:flex-start;
    gap:4rem 1.4rem;
  }
}
@keyframes myAnimA {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}

}@keyframes myAnimB {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(250px);
	}
}
