/* Cabecera de categorias */
.SectionCard {
  position:relative;
  &_content {
    padding:2em ;
    display:grid;
    grid-template-columns:repeat(3, 0fr);
    justify-content: center;
    gap:2em 1em;
  }
  &_aside {
    position:fixed;
    bottom: 1em;
    left:1em;
    z-index: 1;
  }
  &_button{
    background-color: #DC5D64;
    height:3.3em;
    width:3.3em;
    padding:0 .5em;
    color: #ffffff;
    font-family: var(--base);
    border-radius:100px;
    box-shadow:4px 4px 8px -1px rgba(0,0,0,0.15);
    transition:All .2s  ease;
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon {
      font-size: var(--3xl);
    }
    &_text {
      width:0%;
      color:transparent;
      font-size: var(--n);
      font-weight: bold;
      overflow:hidden;
      text-wrap: nowrap;
      transition:All .2s  ease;
    }
  }
  &_button:hover{
    width:11em;
    transition:All .3s  ease-in;
  }
  &_button:hover &_button_text {
    color: #ffffff;
    width:100%;
    margin-left:.2em;
    transition:All .3s  ease-in;
  }
}
