.sectionBanner {
  background-color:var(--bannerColor);
  /* background-image: url("https://cdn.gencraft.com/prod/user/b172dd1b-2bc1-42be-86a9-85fe97a88ef5/12c713d2-ffce-49b2-92f9-31b2037c9783/images/image0_0.jpg?Expires=1702536703&Signature=LYRBMZLhCM66CWwpU-OEiIZ0GHNfBcsPJQ9MdQLUMxl4ozNC233Vnner6W1el5xqzRopDcbJ6~OpbR9dXL2cms~XK0TnubnXijULNoT0Q-oyOeiyHExHVE1K4yTQLmoqHE-SGl0PwUWCSeL8DmdSB9JhwJxxzSBdLve5vjFrNY5yp8sty1lKRwJ4bJKIE6USg8tnkX1lOobnZVK-TiSPiBzp4XkB60kQ2zVbT0EP-CbTZJ0if18Ndf2JMgCqqAulC8UtZrbGPmleewAVqOtcC~Ox5jMtCyLqMj-UmLGx~nWRlItYGMIRYJMvKwr-FvIaF3qneLJZk6IVJPdkgdkJMg__&Key-Pair-Id=K3RDDB1TZ8BHT8"); */
  background-position:center;
  background-size: cover;
  padding: 3em ;
  color:var(--cardText);
  font-family: var(--title);
  /* color:white; */
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  gap:1em;
  &_title {
    font-size: var(--l);
  }
  &_details {
    display:flex;
    gap:0 2em;
    &_button {
  font-weight: bold;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap:.5em;
    }
    &_button_icon {
      font-size: var(--l)
    }
  }
}
