/* Cabecera de categorias */
.sectionCard {
  background-color:var(--sectionCardColor);
  position:relative;
  &_body {
    display:flex;
    flex-direction: column;
    gap:1rem;
  }

  /* !aside: */
  &_aside {
    height:1px;
    margin-bottom: 2rem;
    position: sticky;
    bottom:4rem;
  }

  /* !content: */
  &_container,
  &_container-b {
    width:calc(62.5rem - 4rem); /*width (content class) - padding (main element)*/
  }
  &_container[data-css="no"],
  &_container-b[data-css="no"] {
    display:none;
  }
  &_container {
    padding: 1rem 0;
    display:grid;
    grid-template-columns:repeat(4, 0fr);
    justify-content:flex-start;
    gap:4rem 1.4rem;
    transition: all 0.5s ease;
  }
  &_container-b {
    margin: 2rem 0;
    display:flex;
    justify-content: center;
  }
}
.animationA {
  animation: upAnimation 0.5s ease 0s 1 normal forwards;
}
.animationB {
  animation: downAnimation 0.3s ease 0s 1 normal forwards;
}
