.sectionNote {
  background-color:var(--sectionCardColor);
  position:relative;
  &_body {
    /* padding:3rem 4rem; */
    display:flex;
    flex-direction: column;
    gap:1rem;
  }

  /* !Cabecera: */
  &_header {
    background:#ffffff;
    padding: 1rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    &_container {
      font-family: var(--title2);
      color:var(--cardText);
      text-align: center;
      display:flex;
      order: 1;
      flex-direction: column;
    }
    &_title {
      font-size: var(--l);
      font-weight:var(--bold);
      text-transform: capitalize;
    }
    &_text {
      font-size: var(--m);
    }
  }

  &_main {
    padding: 1rem 0;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:flex-start;
    gap:4rem 1.4rem;
  }
}
